.container {
	max-width: 769px;
	margin: 20px auto;
	line-height: 1.68;
	color: #222;
}
.tasks {
	margin: 0 20px;
}
.title {
	display: -webkit-flex;
	display: -o-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	margin: 10px;
	color: #0da4ef;
}
.input-list {
	display: -webkit-flex;
	display: -o-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 10px 0;
}
.input-list  input {
	width: 88%;
	height: 40px;
}
.input-list button {
	width: 8%;
	background-color: #0da4ef;
	color: white;
	float: right;
	margin-left: 10px;
	line-height: 30px;
}
.lists section {
	display: -webkit-flex;
	display: -o-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

}
.lists  .operation{
	/*right: 0;*/
	position: relative;
}
.eaditImg {
	position: absolute;
	top: 12px;
	right: 0;
	width: 23px;
	height: 23px;
}




